---
import './footer.scss';
---

<footer class="footer">
	<div class="footer__wrap container">
		<h2 class="visually-hidden">Kontakt</h2>

		<h3 class="footer__title">Biuro sprzeday:</h3>

		<address class="footer__address">
			<div class="footer__address-info">
				<span>Unicorn Consulting Sp. z o.o.</span><br />
				<span>ul. Jana Rymarkiewicza 5a<br /> 60-681, Poznań</span>
			</div>

			<div class="footer__address-links">
				<a class="footer__link" href="tel:+48603724182">+48 603 742 182</a>
				<a class="footer__link" href="mailto:hello@potrzanowo.pl">hello@potrzanowo.pl</a>
			</div>
		</address>

		<p class="footer__additional-info">
			W celu umówienia spotkania prosimy o wcześniejszy kontakt telefoniczny
		</p>
	</div>
</footer>
