---
//STYLES
import './contact-form.scss';
---

<section class="contact-form">
	<div class="contact-form__wrap container">
		<form class="contact-form__form">
			<label class="contact-form__label">
				<span class="contact-form__input-title">email:</span>
				<input class="contact-form__input" type="email" />
			</label>
			<label class="contact-form__label">
				<span class="contact-form__input-title">Imie:</span>
				<input class="contact-form__input" type="text" />
			</label>
			<button class="contact-form__submit-button" type="button">Poproś o kontakt</button>
		</form>
	</div>
</section>
