.image-block-with-link {
	position: relative;
}

.image-block-with-link__wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 100px var(--standart-side-padding);
	height: 100%;
	gap: 20px;
}

.image-block-with-link__title {
	--shadow-size: 0.3px;
	--shadow-inner-size: -0.3px;
	--shadow-color: #000;

	font-family: var(--basci-font);
	font-size: 24px;
	text-align: right;

	// text-shadow:
	// 	var(--shadow-inner-size) var(--shadow-inner-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-size) var(--shadow-inner-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-inner-size) var(--shadow-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-size) var(--shadow-size) var(--shadow-size) var(--shadow-color);
	text-transform: capitalize;
	color: var(--always-white);
}

.image-block-with-link__text {
	--shadow-size: 0.3px;
	--shadow-inner-size: -0.3px;
	--shadow-color: #000;

	max-width: 400px;
	font-family: var(--basci-font);
	font-weight: 500;
	font-size: 30px;
	text-align: right;

	// text-shadow:
	// 	var(--shadow-inner-size) var(--shadow-inner-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-size) var(--shadow-inner-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-inner-size) var(--shadow-size) var(--shadow-size) var(--shadow-color),
	// 	var(--shadow-size) var(--shadow-size) var(--shadow-size) var(--shadow-color);
	color: var(--always-white);
}

.image-block-with-link__link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
}

.image-block-with-link__image {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
