---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './image-block-with-link.scss';

interface Props {
	data: CollectionEntry<'indexPageLinks'>;
}

const { data } = Astro.props;
---

<section class="image-block-with-link">
	<div class=`image-block-with-link__wrap container`>
		<h2 class=`image-block-with-link__title`>{data.data.title}</h2>
	</div>

	<a href={data.data.linkPath} class="image-block-with-link__link">
		<span class="visually-hidden">{data.data.linkText}</span>
	</a>

	<img
		class="image-block-with-link__image"
		src={data.data.imagePath}
		alt=""
		width="200"
		height="200"
	/>
</section>
