.banner {
	display: flex;
	width: 100%;
	background-image: url('./banners/banner-main.webp');
	background-size: cover;
}

.banner__wrap {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 150px var(--standart-side-padding);
	width: 100%;
	min-height: 1000px;
	gap: 40px;
}

.banner__title {
	font-family: var(--basci-font);
	font-weight: 400;
	font-style: italic;
	font-size: 40px;
	text-align: left;
	color: var(--always-white);
}
