---
import { getEntry } from 'astro:content';
//STYLES
import './main.scss';
//COMPONENTS
import TextWithImageGbBlock from '../../../shared/text-with-image-bg-block/text-with-image-bg-block.astro';
import TextBlock from '../../../shared/text-block/text-block.astro';
import ImageBgBlock from '../../../shared/image-bg-block/image-bg-block.astro';

//CONTENTs
const banner = await getEntry('imageBlocks', 'activity-banner');
const description = await getEntry('textBlocks', 'activity-description');
---

<main class="main">
	<TextWithImageGbBlock data={banner} height={600} />

	<TextBlock data={description} />

	<ImageBgBlock imagePath="/images/aktywnosci/Potrzanowo_12.webp" />
	<ImageBgBlock imagePath="/images/aktywnosci/Potrzanowo_13.webp" />
</main>
