---
//STYLES
import './contact-form.scss';
---

<section class="contact-form">
	<div class="contact-form__wrap container">
		<h2 class="contact-form__title">Napisz do nas</h2>

		<form class="contact-form__form">
			<label class="contact-form__label">
				<span class="contact-form__input-title">*Imię:</span>
				<input class="contact-form__input" type="text" name="name" />
			</label>

			<label class="contact-form__label">
				<span class="contact-form__input-title">*Nazwisko:</span>
				<input class="contact-form__input" type="text" name="surname" />
			</label>

			<label class="contact-form__label">
				<span class="contact-form__input-title">*Adres e-mail:</span>
				<input class="contact-form__input" type="email" name="email" />
			</label>

			<label class="contact-form__label">
				<span class="contact-form__input-title">*Numer telefonu:</span>
				<input class="contact-form__input" type="tel" name="telephone" />
			</label>

			<label class="contact-form__label contact-form__label--textarea">
				<span class="contact-form__input-title">*Wiadomość:</span>
				<textarea class="contact-form__input contact-form__textarea" rows="5" name="message"
				></textarea>
			</label>

			<fieldset class="contact-form__rodo-fieldset">
				<legend class="visually-hidden">Zgoda RODO</legend>

				<label class="contact-form__rodo-label">
					<span class="contact-form__rodo-box-title"
						>Wyrażam zgodę na przetwarzanie moich danych osobowych przez Unicorn Consulting sp. z
						o.o., w celach marketingu produktów i usług. Wyrażam zgodę na zautomatyzowane
						przetwarzanie moich danych osobowych, w tym profilowanie, Unicorn Consulting sp. z o.o.
					</span>
					<input type="checkbox" name="zgoda_rodo" class="contact-form__checkbox" />
				</label>
			</fieldset>

			<div class="contact-form__controls">
				<button class="contact-form__submit-button" type="submit">Poproś o kontakt</button>
				<div class="contact-form__error-message">error here</div>
			</div>
		</form>

		<a class="contact-form__privacy-link" href="/polityka-prywatnosci">Polityka prywatności</a>
	</div>
</section>

<script>
	const email = () => {
		const form = document.querySelector('.contact-form__form');
		const submitButton = document.querySelector('.contact-form__submit-button');
		const errorMessageBlock = document.querySelector('.contact-form__error-message');

		if (!form) {
			console.error('Form element not found');
			return;
		}

		form.addEventListener('submit', async (event: Event) => {
			event.preventDefault();

			const formData = new FormData(form as HTMLFormElement);

			const email = formData.get('email');
			const telephone = formData.get('telephone');
			const name = formData.get('name');
			const surname = formData.get('surname');
			const message = formData.get('message');
			const zgoda = formData.get('zgoda_rodo');

			let isError = false;
			let errorMessage = '';

			if (!email || !telephone || !name || !surname || !message) {
				errorMessage = errorMessage + 'Pola zaznaczonę gwiazdką * są obowiązkowe.';
				isError = true;
			}

			if (!zgoda) {
				errorMessage = errorMessage + ' Przed wysłaniem wiadomości prosimy o wyrażenie zgody RODO.';
				isError = true;
			}

			if (isError) {
				if (errorMessageBlock) {
					errorMessageBlock.classList.add('contact-form__error-message--show');
					errorMessageBlock.textContent = errorMessage;
				} else {
					alert(errorMessage);
				}

				return;
			} else {
				errorMessageBlock?.classList.remove('contact-form__error-message--show');
				errorMessage = '';
			}

			const response = await fetch('/send-email.php', {
				method: 'POST',
				body: formData,
			});

			if (response.status === 200) {
				if (submitButton) {
					submitButton.textContent = 'Wiadomość email została wysłana.';
				}
			} else {
				if (errorMessageBlock) {
					errorMessageBlock.classList.add('contact-form__error-message--show');
					errorMessageBlock.textContent = 'Błąd wysłania widomości. Spróbuje jeszcze raz.';
				}
			}
		});
	};

	window.addEventListener('DOMContentLoaded', () => {
		email();
	});
</script>
