---
//STYLES
import './main.scss';
//COMPONENTS
import ContactForm from '../../../app/contact-form/contact-form.astro';
import Footer from '../../../app/footer/footer.astro';
---

<main class="main">
	<ContactForm />
	<Footer />
</main>
