---
//STYLES
import './main.scss';
//COMPONENTS
import Footer from '../../../app/footer/footer.astro';
import ContactForm from '../contact-form/contact-form.astro';
---

<main class="main">
	<ContactForm />
	<Footer />
</main>
