---
//STYLES
import './image-bg-block.scss';

interface Props {
	imagePath: string;
	withLink?: boolean;
	linkText?: string;
	linkPath?: string;
}

const { imagePath, withLink, linkText, linkPath } = Astro.props;
---

<section class="image-bg-block">
	<img class="image-bg-block__image" src={imagePath} alt="" width="200" height="200" />
	{
		withLink && (
			<a class="image-bg-block__link" href={linkPath} target="_blank">
				<span class="visually-hidden">{linkText}</span>
			</a>
		)
	}
</section>
