---
import { getEntry } from 'astro:content';
//STYLES
import './main.scss';
//COMPONENTS
import ImageBgBlock from '../../../shared/image-bg-block/image-bg-block.astro';

//CONTENT
const banner = await getEntry('imageBlocks', 'lokalizacja-banner');
---

<main class="main">
	<ImageBgBlock imagePath={banner.data.imagePath} title="" />

	<ImageBgBlock
		imagePath="/images/lokalizacja/Potrzanowo_9.webp"
		linkPath="https://maps.app.goo.gl/f7BATpNTqwpziBzC6"
		linkText="zobacz lokalizacje w google maps"
		title=""
		alt={'Widok z lotu ptaka na mapę okolicy Potrzanowa, przedstawiający sieć dróg i odległości do pobliskich miejscowości. Na mapie oznaczone są następujące odległości: Rogoźno (16,6 km), Wągrowiec (23,8 km), Murowana Goślina (18,9 km), Oborniki (30,8 km) oraz Poznań (42,8 km). W tle widoczne są jeziora, lasy i pola, tworzące malowniczy krajobraz regionu.'}
	/>
	<ImageBgBlock
		imagePath="/images/lokalizacja/Potrzanowo_10.webp"
		title=""
		alt={"Zbliżenie na znak uliczny z nazwą 'ul. Włókna' przymocowany do słupa, który jest częściowo obrośnięty bluszczem. W tle widoczny jest gęsty, zielony las, co nadaje miejscu naturalny i spokojny charakter."}
	/>
</main>
